extends layout

block header
  header
    h1= title

block nav
  nav
    ul
      li
        a(href="#") Link 1
      li
        a(href="#") Link 2
      li
        a(href="#") Link 3
      li
        a(href="#") Link 4

block content
  #container
    #main
      .loader

block templates
  script#template-folder(type="text/x-handlebars-template")
    li.folder
      h5 {{name}}

  script#template-file(type="text/x-handlebars-template")
    li.file
      a(href="{{path}}") {{name}}

